@charset "utf-8";
.serverList >  li,.provider ul,.chilidrenWrap,.sSort,.serIforUl,.serIforUl li,.serIforUl a,.leImg > div{height: auto;overflow: hidden;}
.noevalt{background: url("../Image/userEval1.png") no-repeat scroll center center;height: 170px;}
.serIforUl .leEval > span{font-size: 12px;margin-bottom: 5px;}
.serIforUl .leBut > span{font-size: 14px;width: 100%;}
.serIforUl .leBut.leBut2{height: 124px;margin-top: -62px;}
.serIforUl .leBut > a{font-size: 12px;margin-bottom:5px;}
.serPagees .pagesm{float: right;margin-right: 20px;}
.serPagees{width: 100%;}
/**服务商筛选**/
.serverList >  li{width: 100%;float: left;border-top: 1px dashed #c9c9c9;}
.serverList li.active i{color: #f14b4b;font-size: 14px;margin-left: 10px;font-weight: bold;cursor: pointer;}
.serverList .noBdTop{border-top: none;}
.serverList .BdTopnNoSame{border-top: 1px solid #c9c9c9;}
.seUl1{padding: 7px 0 8px;}
.seUl1 > li > a > i{cursor: pointer;color: #f14b4b;display: inline-block;font-style: normal;margin-left: 12px;width: 9px;}
.seContList{padding-bottom: 14px;}
.seContList > li{color: #727171;float: left;font-size: 14px;line-height: 1;margin-right: 35px;padding: 14px 0 0;}
.seContList a{font-size: 14px;color: #727171;}
.seContList a:hover,.seContList a.active{color: #00c9ff}
.seUl1 li{border: 1px dashed #d6d6d6;padding: 6px 16px;margin-right: 20px;font-weight: bold;margin-bottom: 7px;}
.seUl1.seContList {padding-bottom: 0;}
.seUl1 a:hover{color: #727171;}
.serverList{padding: 0 18px;position: relative;}
.serverList span{width: 90px;text-align: left; float:left;font-size: 14px;color: #727171;position: relative;top: 14px;padding-right: 20px;line-height: 1;}
.chilidrenWrap{margin-bottom: 20px;margin-left: 90px;position: relative;}
.chilidrenWrap ul{background: #eff9fe;padding-left: 10px;float: left;width: 90.7%;margin-bottom: 2px;}
.showAndhide{position: absolute;height: 40px;line-height: 40px;width: 118px;right: 0;text-align: center;cursor: pointer;}
.showAndhide.serverAdd{top: 125px;}
.showAndhide.whereAdd{top: 42px;}
.showAndhide.productAdd{top: 42px;}
.showAndhide em{color: #00c9ff;font-size: 14px;}
.showAndhide i{display: inline-block;height: 5px;left: 5px;position: relative;top: -2px;width: 9px;	background: url(../images/breadcrumb.png) no-repeat scroll -4px -178px;
}
.showAndhide .show{background-position: -4px -178px;}
.showAndhide .hide{background-position: -4px -192px;}

/**服务商筛选列表**/

.provider{border:1px solid #e0e0e0;}

/**排序*/
.sSort{background: #eeeeee;position: relative;}
.sSort li,.sSort a{font-size: 14px;color: #727171;}
.sSort li{float: left;}
.sSort a{display: inline-block;width: 100%;padding: 0 20px;height: 40px;line-height: 40px;}
.sSort .active{color: #00c9ff;background: #ffffff;}
.sSort span{display: inline-block;height: 40px;line-height: 40px;padding: 0 10px 0 60px;}
.serInput{
	width: 220px;
	position: absolute;
    top: 6px;
    right: 40px;
}
.serInput input[type="text"]{
	width: 180px;
	*width: auto;
    border: 1px solid #ffffff;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    position: absolute;
    padding: 6px 30px 6px 10px;
}
.serInput input[type="text"]:focus,.serInput input[type="text"]:hover{
	border: 1px solid #00c8ff !important;
	outline: none;
}
.serInput input::-ms-clear{display:none;}
::-ms-clear, ::-ms-reveal{display: none;}
.serInput a{
	width: 40px;
	height: 28px;
	line-height: 28px;
	*height: 30px;
	*line-height: 30px;
	float: left;
	display: inline-block;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 1px;
	right: -6px;
	background: transparent url(../Images/breadcrumb.png) no-repeat scroll 12px -206px;
}
.marT40 {margin-top: 40px !important;}
.marB20 {margin-bottom: 20px !important;}
.marT20 {margin-top: 20px !important;}
/*分享到微博*/
/*分享到微信*/
.knowPoper{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -290px;
    margin-top: -260px;
    height: 520px;
    width: 580px;
    background: #ffffff;
    z-index: 999999;
    display: none;
    text-align: center;
}
.knowPoper h4{
    font-size: 14px;
    color: #595758;
    text-align: center;
    margin-top: 115px;
}
.knowPoper img{
    margin-top: 21px;
    width: 250px;
}
.colse{
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background: url("../Image/Knowledge/close.png") no-repeat scroll center center;
}
.knowPoper h2{
    font-size: 24px;
    color: #686667;
    text-align: center;
    margin: 53px 0 16px;
}
#knowPoperwb img{
    margin: 20px 0;
}
#knowPoperwb p{
    line-height: 1.8;
    text-align: left;
    font-size: 14px;
    color: #686667;
}
#knowPoperwb h3{
    text-align: left;
    font-size: 16px;
    margin: 30px 0;
}
#knowPoperwb > div{
    overflow-x: hidden;
    height: 298px;
    padding: 0 30px;
    width: 100%;
}
#knowPoperwb .knowPButOut{
    background: #ffffff;
    height: auto;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    text-align: center;
    overflow-y: hidden;
}
#knowPoperwb .knowPBut{
    display: inline-block;
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
    background: #f14b4b;
    margin: 30px 0; 
}
#knowPoperwb .knowPBut:hover{
    background: #00c9ff;
}
#mask{
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99998;
    opacity: 0.4;
    filter:alpha(opacity=40);
}
.lawer_choose{height: auto;margin: 20px auto;width: 1100px;overflow: hidden;border: 1px solid #c9c9c9;}