@charset "utf-8";
/* CSS Document */

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
 

.top{width:100%;height:76px; background:url(../images/icon_1.png) repeat; position:fixed;top:0;left:0;z-index:999;}
.header{width:1160px;height:auto; position:relative;margin:0 auto;}
.logo{width:170px;height:142px; float:left;}
.nav{width:940px;height:76px; float:right;}
.nav .tel{width:100%;height:30px;line-height:30px;text-align:right;color:#fff;}
.nav-bg {width:940px; height: 46px; clear: both;position: relative; z-index: 888;margin:0px auto}
.nav ul{width:940px;height:46px;line-height:46px;float:left;}
.nav li { float:right; position: relative; }
.nav li a { display: block; width:100px;text-align: center; font-size: 14px; color: #FFF; }
.nav li.on a, .nav li:hover a {color: #fff;}
.nav .sub { display: none; width:94px;height: auto; white-space:nowrap; position: absolute; left:0px; z-index: 999;background:url(../images/icon_1.png) repeat; }
.nav li .sub-big { width:110px; }
.nav li .sub-small li a { font-size:12px; }
.nav li .sub li { float: none; margin: 0; padding: 0; }
.nav li .sub a { width: auto; height: 30px; line-height: 30px; padding: 0; background: none; font-size: 12px; font-weight:normal; }
.nav li .sub a:hover { background: #000; }

.ha{width:100%;height:76px; background:#000;}

/*S banner图切换*/
.banner_all {width: 100%;margin:0 auto;overflow: hidden;position: relative;z-index: 2;min-width:980px;}
.banner {width: 980px;height:619px;margin: 0 auto;position: relative;zoom:1;}
.banner_center {width:1920px;height:619px;overflow: hidden;z-index: 0;position: relative;left: -470px;_display:inline;}
.banner_center ul {width:38400px;height:619px;position:absolute;top:0;left:0;}
.banner_center ul li {width:1920px;height:619px;float: left;overflow: hidden;display: block;}
.banner_center ul a {width:1920px;height:619px;display:block;}

/*banner图切换右下角按钮*/
.banner_btn {position:absolute;top:590px;left:50%;margin-left:-110px;z-index:3;}
.banner_btn li {width:65px;	float: left;margin-right:4px;}
.banner_btn li a {display:block;height:6px;background:#fff;overflow:hidden;}
.banner_btn .curs a {background:#c89736;}
/*E banner图切换*/


.title{width:100%;height:auto;text-align:center;color:#000;padding:10px 0 60px 0;margin-bottom:10px;background:url(../images/title.png) no-repeat bottom center;}
.title h3{font-size:30px;color:#000;font-weight:bold;}
.title p{font-size:14px;padding:10px 0;}



.cur{width:100%;height:auto; background:#f6f6f6;padding-bottom:30px;}
.cur_c{ background:url(../images/cur_bg.jpg) no-repeat right bottom;}
.video{width:375px;height:280px;border:4px solid #fff;float:left;}
.cur_t{width:660px;height:auto;line-height:28px; float:left;margin-left:37px;}
.cur_t h3{font-size:20px;font-weight:bold;color:#000;margin-bottom:15px;}
.cur_t a{color:#c40000;}


.join{width:100%;height:auto;padding-bottom:30px;}
.join ul li{width:240px;height:auto;padding:15px 25px; float:left; position:relative;text-align:center;}
.join ul li img{width:210px;height:210px;border-radius:50%;}
.join ul li h3{font-size:20px;font-weight:bold;color:#000;margin-top:20px;}
.join ul li p{font-size:14px;padding:10px 0;color:#666;}
.join ul li .join_z{width:240px;height:240px;position:absolute;left:25px;top:0px;}
.join ul li .join_z img{width:240px;height:240px;}
.join ul li:hover h3,.join ul li:hover p{color:#cb0000}



.store{width:100%;height:574px;padding-top:21px;background:url(../images/store_bg.jpg) no-repeat center center;}

#switc {WIDTH:1100px;height:524px;padding:15px; background:#fff url(../images/store_bg2.jpg) no-repeat right top;}
#switcs {WIDTH:1100px;HEIGHT:139px;}
#switcs LI { FLOAT: left;text-align:center;HEIGHT: 139px;width:270px;margin-right:5px; position:relative;}
#switcs LI img{HEIGHT: 139px;width:270px;}
#switcs LI A {HEIGHT: 139px;width:270px;font-size:14px; display:block}
#switcs LI a .store_z{HEIGHT: 139px;width:270px;background:url(../images/icon_1.png); position:absolute;left:0;top:0;}
#switcs LI.selectswitc {POSITION: relative;HEIGHT: 139px;width:270px;}
#switcs LI.selectswitc .store_z{ background:none;}
#switcs LI.selectswitc A {HEIGHT: 139px;width:270px;}
.switcContent {DISPLAY: none; WIDTH: 1100px; HEIGHT: 374px;margin-bottom:10px;}
#switcContent div.selectswitc {DISPLAY: block}
.store_c{width:610px;height:374px; float:left;}
.store_c img{width:610px;height:374px;}
.store_t{width:470px;height:374px; float:right;}
.store_t h3{font-size:18px;margin-bottom:30px;}
.store_t h3 i{font-size:20px;color:#909090;}
.store_t p{line-height:40px;}


.food{width:100%;height:auto;padding:0px 0; overflow:hidden; background:#f3f3f3;}
ul.food_memu{width:100%;height:40px; overflow:hidden;}
ul.food_memu li{width:165px;height:auto; float:left;}
ul.food_memu li div{width:100%;height:40px;padding:5px 0;text-align:center;background:url(../images/food_1.jpg) no-repeat center center;}
ul.food_memu li div i{color:#fff;font-size:30px; }
ul.food_memu li p{font-size:28px;color:#000; text-align:center;padding:8px 0;}
ul.food_memu li a:hover div{background:url(../images/food_2.jpg) no-repeat center center;}

.food_c{width:100%;height:432px;margin-top:25px;overflow:hidden;}
.food_c ul li{width:20%;height:216px; float:left; position:relative; overflow:hidden;}
.food_c ul li img{width:100%;height:216px;}
.food_c ul li a .food_m{width:100%;height:100%; text-align:center;position:absolute;left:-100%;top:0; background:url(../images/icon_1.png);}
.food_c ul li a .food_m h3{margin-top:78px;margin-bottom:15px;font-size:18px;color:#fff;}
.food_c ul li a .food_m span{font-size:12px;padding:3px 14px;border:1px solid #fff;color:#fff;}
.food_c ul li a:hover .food_m{left:0px;-webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; -ms-transition:0.3s ease-out; -o-transition:0.3s ease-out; transition:0.3s ease-out;}

.news{width:100%;height:auto;padding-bottom:35px;background:#f6f6f6;}
.news_1 h3,.news_2 h3{ position: relative;font-size:20px;font-weight:bold;color:#000;margin-bottom:20px;}
.news_1 h3 a,.news_2 h3 a{ position:absolute;right:0;top:0;font-size:12px;font-weight:normal;}

.news_1{width:370px;height:auto; float:left;}
.news_1 ul li{border-top:1px dotted #bcbcbc;padding:10px 0;}
.news_1 ul li a h4{font-size:12px;font-weight:bold;margin-bottom:15px;color:#666;}
.news_1 ul li a p{font-size:12px;color:#666;line-height:22px;}

.news_2{width:560px;height:auto; float:left;margin-left:35px;}
.news_2 img{width:275px;height:200px; float:left}
.news_2 ul li{line-height:40px;font-size:14px;padding-left:15px;border-bottom:1px dashed #dcdcdc;background:url(../images/icon_2.jpg) no-repeat left center; position:relative;}
.news_2 ul li a{color:#666;}
.news_2 ul li a:hover{color:#000;}
.news_2 ul li span{font-size: 12px;color: #999;position: absolute;right: 0;top: 0;}

.lunbo{width:100%;height:auto;padding-bottom:35px;background:#f6f6f6;}


.foot{width:100%;height:auto;padding-top:33px;padding-bottom:25px;/*background:url(../images/foot_bg.jpg) no-repeat center top;*/}
.foot h3{color:#333;}
.foot h3 span{font-size:16px;padding-right:68px;}
.foot h3 a{padding:0 10px;color:#333;font-size:12px;}

.foot_2{padding-left:160px;min-height:120px;padding-top:25px;font-size:12px;color:#333;line-height:30px;/*background:url(../images/logo_1.png) no-repeat 0 25px;*/ position:relative;}
.foot a{color:#333;}
.foot a:hover{color:#c40000;}
.foot_2 .weixin{width:280px;height:97px; text-align:center;position:absolute;right:0;top:0;font-size:12px;color:#333;}
.foot_2 .weixin a{display:block;width:169px;height:117px; float:left;}
.foot_2 .weixin a img{width:169px;height:117px;}



/*main css*/
.izl-rmenu{position:fixed;right:2px;bottom:150px;padding-bottom:73px;background:url(../images/r_b.png) center center no-repeat;z-index:999;}
.izl-rmenu .btn{width:72px;height:73px;margin-bottom:1px;cursor:pointer;position:relative;}

.izl-rmenu .btn-qq{background:url(../images/r_qq.png) center center  no-repeat;background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../images/r_qq.png) center center  no-repeat;background-color:#6da9de;text-decoration:none;display:block;}

.izl-rmenu .btn-wx{background:url(../images/r_wx.png) center center  no-repeat;background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu .btn-wx .pic{position:absolute;left:-160px;top:0px;display:none;width:160px;height:160px;}
.izl-rmenu .btn-phone{background:url(../images/r_phone.png) center center  no-repeat;background-color:#fbb01f;}
.izl-rmenu .btn-phone:hover{background-color:#ff811b;}
.izl-rmenu .btn-phone .phone{background-color:#ff811b;position:absolute;width:160px;left:-160px;top:0px;line-height:73px;color:#FFF;font-size:18px;text-align:center;display:none;}
.izl-rmenu .btn-top{background:url(../images/r_top.png) center center  no-repeat;background-color:#666666;display:none;}
.izl-rmenu .btn-top:hover{background-color:#444;}

/*   内页   css   */
.ny_banner{width:100%;height:359px;}

.ny_main{width:100%;height:auto; background:#f3f3f3;}
.ny_title{width:100%;height:87px;color:#fff;background:url(../images/ny_title.jpg) no-repeat center top;}
.ny_title h3{font-size:18px;padding-lefT:146px;font-weight:bold;line-height:30px;padding-top:20px;}
.ny_title p{font-size:12px;padding-lefT:146px;text-transform:uppercase;}
.ny_title .tels{ position:absolute;right:0;top:10px;float:right;color:#fff;}
.ny_title .tels i{ position:absolute;left:0;top:5px;font-size:40px;}
.ny_title .tels h2{padding-left:46px;font-size:12px;padding-top:10px;}
.ny_title .tels h4{padding-left:46px;font-size:18px;font-weight:bold;}

/*   内页新闻  css   */

.ny_news{width:100%;height:auto;padding:20px 0;}

.ny_news_right{width:100%;height:auto; float:right;}
.ny_news_right .tip{width:100%;border-bottom:1px #dddcda solid;}
.ny_news_right .tip h2{line-height: 40px;float: left;font-size: 20px;color: #000;}
.ny_news_right .tip h5{line-height: 40px;float: right;color: #666;}
.ny_news_right .tip h5 span{color:#999;font-weight:bold;}
.ny_news_right ul.ny_news_ul li{width:307px;height:332px;padding:20px 25px;box-shadow: 0 0 2px rgba(0,0,0,0.05);-moz-box-shadow: 0 0 2px rgba(0,0,0,0.05);-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.05);float:left;margin:20px 44px 15px 0; background:#fff;}
.ny_news_right ul.ny_news_ul li img{width:307px;height:224px;}
.ny_news_right ul.ny_news_ul li h3{font-size:16px;font-weight:bold;color:#777;padding:8px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ny_news_right ul.ny_news_ul li span{font-size:12px;color:#999;}
.ny_news_right ul.ny_news_ul li p{font-size:14px;color#:777;padding:8px 0; }
.ny_news_right ul.ny_news_ul li a:hover h3{color:#703e19;}

.ny_news_c{font-size:14px;line-height:24px;color:#666;padding:15px 0;}
.ny_news_c img{max-width:100%;}

/*分页*/
.pageJump{ display:block; overflow:hidden; width:100%; text-align:center;  height:39px; padding:30px 0px} 
.pageJump .fenye{ display:block;   text-align:center; font-size:14px} 
.pageJump .fenye  a{ display:inline-block; margin-right:5px; background:#fff; border:1px solid #d1d1d1; height:28px; line-height:28px; padding:0px 10px; text-align:center; color:#666;}
.pageJump .fenye  a:hover ,.pageJump  a.active{ background:#c50012; border:1px solid #b87d08;  text-decoration:none;  color:#ffffff }



/*   内页门店  css   */

.ny_store,.ny_food, .ny_about{width:100%;height:auto;padding:25px 0;}


.ny_store ul li{width:563px; height:auto;background:#fff;box-shadow: 0 0 4px rgba(0,0,0,0.05);-moz-box-shadow: 0 0 4px rgba(0,0,0,0.05);-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.05); position:relative;float:left;margin-bottom:10px;}
.ny_store ul li img{width:563px;height:260px;}
.ny_store ul li .ny_store_ad{/*height:140px;*/color:#5a5a5a; line-height:26px; font-size:14px;}
.ny_store ul li h3{color:#333; font-size:20px; font-weight:bold; height:40px; line-height:40px;}
.ny_store ul li p{color:#333;}
.ny_store ul li h3 i{color:#909090;font-size:18px;}
.ny_store ul li p{line-height:32px;}
/*.ny_store ul li:hover h3, .ny_store ul li:hover p{color:#fec601;}*/




/*   内页产品  css   */
.ny_food_t{padding:25px 0;width:100%;}
.ny_food_c{width:100%;height:auto;}
.ny_food_c ul li{width:361px;height:300px;float:left; background:#fff;margin-left:12.5px;margin-right:12.5px;margin-bottom:25px;}
.ny_food_c ul li img{width:361px;height:252px; }
.ny_food_c ul li p{width:100%;height:46px;line-height:46px;background:#000;color:#fff;font-size:16px; text-align:center;}
.ny_food_c ul li a:hover p{background:#fec601;}
#auto-loop{min-height:1000px; }


/*   内页关于我们  css   */

.ny_about_c{font-size:14px;line-height:24px;color:#666;padding:15px 0;}
.ny_about .tip{width:100%;padding:10px 0;border-bottom:1px #dddcda solid;}
.ny_about .tip h2{line-height: 40px;float: left;font-size: 20px;color: #000;}
.ny_about .tip h5{line-height: 40px;float: right;color: #666;}
.ny_about .tip h5 span{color:#999;font-weight:bold;}
.ny_about_c img{max-width:100%;}



.ny_memu{width:100px;position:fixed;left:0;bottom:200px;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.ny_memu img{width:125px;}
.ny_memu ul li{ text-align:center; width:100%;height:45px;line-height:45px;}
.ny_memu ul li a{ display: block;color:#000;background:#fff;}
.ny_memu ul li a.on{background:#000;color:#fff;}
.ny_memu ul li a:hover{color:#fec601;}

.ny_ft{width: 1150px;height: 40px;line-height: 40px;text-align: center;margin: 60px auto 0px;border: 1px solid #ccc;border-radius: 5px;background: #f5f5f5;}
.ny_ft a.fl {color: #666;margin-left: 20px;margin-right: 20px;display: inline;}
.ny_ft a.fr {color: #666;margin-left: 20px;margin-right: 20px;display: inline;}
.ny_ft a:hover{color:#fec601;}

.message{width:60%;height:auto;padding:35px 20%;background:#fff;}
.message p{line-height:35px;padding:10px 0; display:inline-block;}
.message p span{ display:block;width:150px; text-align:right; float:left;}
.message p input.kuan{width:250px;height:30px;line-height:30px;padding:0 10px;float:left;border:1px solid #ccc;margin:0 15px;}
.message p textarea{width:400px;height:125px;border:1px solid #ccc;margin:0 15px;}
.message p input.an{width:120px;height:37px;line-height:37px;margin-right:20px;margin-left:15px;border:none; background:#320b01;color:#fff; cursor:pointer;}
.message p input.an:hover{background:#fec601;}






.message_1{width:80%;height:auto;padding:20px 10%;border-top:1px solid #ccc;}
.message_1 p{font-size:12px;color:#333;line-height:27px;}

.message_1 br{padding:25px 0;}






